<div class="container text-center">



<div class="container text-center">
    <h1>
       ยก <img src="/img/logo3.png" alt="" height="200"> !
    </h1>
</div>



<div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner m-3">
    <div class="carousel-item active">
      <img src="/img/aquiVaUnaImg.webp" class="rounded mx-auto d-block" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4 class="text-dark">Primer imagen del carrousel</h4>
        <p class="text-dark">Aca va la descripcion de la imagen.</p>
      </div>
    </div>
    <div class="carousel-item m-3">
      <img src="/img/aquiVaUnaImg.webp" class="rounded mx-auto d-block" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4 class="text-dark">Segunda imagen del carrousel</h4>
        <p class="text-dark">Aca va la descripcion de la imagen.</p>
      </div>
    </div>
    <div class="carousel-item m-3">
      <img src="/img/aquiVaUnaImg.webp" class="rounded mx-auto d-block" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4 class="text-dark">Tercer imagen del carrousel</h4>
        <p class="text-dark">Aca va la descripcion de la imagen.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container text-center m-5">
    <div class="container text-center m-5">
        <h2>Aca va un titulo <br> una breve descripcion de lo que hago</h2>
    </div>

    <div class="container text-center m-3">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore earum similique expedita reiciendis omnis ea libero veniam mollitia veritatis facilis soluta aperiam laborum, aliquam odio architecto id consectetur explicabo cumque.</p>
    </div>
</div>

<hr>
<hr>

<div class="contaianer text-center">
  <h4>Para mas informacion</h4>
</div>

<div class="container text-center">
  <p>Dejanos tu nombre - email.<br> Para que te enviemos mas info  </p>
</div>

<div class="container text-center ">
    <form action="/envioMails" method="post">
  <div class="mb-3">
    <label for="nombre" class="form-label">nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp">
   
  <div class="mb-3">
    <label for="email" class="form-label">email</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  
  <button type="submit" class="btn btn-primary w-75">Submit</button>
</form>
</div>

</div>
